//背景主色调
@bgMainColor:#fff;

//导航栏主色调
@sidebarBgColor: rgb(48, 65, 86);
//导航栏主背景色
@sidebarChildColor: #1f2d3d;
//导航栏右侧背景色
@sidebarChildHoverColor: #001528;
//导航字体颜色
@sidebarFont:#ccc;
//导航点中字体颜色
@sidebarActiveFont:#409EFF;

//边框颜色
@borderColor:#eeeeee;








